.calcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */
    height: 100vh;
    flex-direction: column;
}

.container {
    box-shadow: 5px 5px 25px gray;
}

#display {
    border: 2px rgb(48, 44, 44) solid;
    width: 250px;
    height: 45px;
    text-align: right;
    padding: 15px 2px 0px 0px;
    font-size: 25px;
    
}

#calculator {
    /* border:2px black solid; */
    display: grid;
    height: 300px;
    width: 257px;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(5, 4fr);
    
}



button {
    /* border: 1px red solid; */
    height: 100%;
    width: 100%;
    
}
    button:hover {
        background-color: rgb(167, 155, 54);
    }    

    #clear:hover {
        background-color: rgb(114, 214, 209);
    }


    #operator {
        background-color: hsla(47, 74%, 82%);
    }
        #operator:hover {
            background-color: lightgreen;
        }